table {
	width: 100%;
}

th.mat-sort-header-sorted {
	color: black;
}

.parameter-card {
	width: 200px;
	display: inline-block;
	vertical-align: top;
}

.parameter-input {
	width: 100%;
}

.parameter-index-card {
	width: 500px;
	display: inline-block;
}

.parameter-index-input {
	width: 100px;
	padding-right: 1em;
}

.parameter-decision-card {
	width: 320px;
	display: inline-block;
	vertical-align: top;
}

.parameter-decision-input {
	width: 100px;
	padding-right: 1em;
}

.parameter-runcount-card {
	width: 150px;
	display: inline-block;
	vertical-align: top;
}